{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <h1 class="text-center">Plz Login</h1>
                <form method="POST" action="/login" name="login">
                <div class="form-group input-sm">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group input-sm">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
        </div>
    </div>
    

</div>

{% endblock %}